:root {
    --bg-color: #fff;
    --main-color: #002F60;
    --secundary-color: #CF1C3C;
    --third-color: #747776;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Geometria";
    src: url(../fonts/Geometria) format("truetype");
}

body {
    margin: 0;
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: left;
    z-index: 100;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    padding: .8rem 1rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--third-color);
}

nav ul li.social a {
    display: flex;
    flex-direction: column;
}

nav ul li.social a img {
    margin-right: 10px;
    width: 50%;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: var(--third-color);
}

nav a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

span.arrow img {
    position: absolute;
    width: 40%;
    float: right;
    top: 4px;
    right: -25px;
}


/*MODULARES */

.bg-main {
    background: var(--main-color);
}

.bg-secundary {
    background: var(--secundary-color);
}

.brand {
    display: flex;
    flex: auto;
    justify-content: center;
}


/*EMPIEZA ENCABEZADO */

.nav {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.nav-header {
    background: var(--bg-color);
    min-height: 150px;
    display: flex;
}

.toggle-servicios ul {
    display: none;
    position: absolute;
}

.toggle-servicios ul li a {
    padding-left: 1rem;
    background: var(--main-color);
    color: #fff;
    margin: 2px;
}

.toggle-servicios ul li a:hover {
    background: var(--secundary-color)
}

.nav-header--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
}

.nav .icon {
    display: none;
}

.logo {
    width: 315px;
    height: 59px;
}

ul.social {
    width: 150px;
}

ul.social li a {
    padding: 0;
    margin: 10px;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}


/*TERMINA ENCABEZADO */


/*EMPIEZA SLIDER  */

.slider {
    min-height: 780px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider--container {
    position: relative;
    top: 10%;
    color: #fff;
    text-align: center;
    padding: 3em 0;
    font-size: 25px;
    max-height: 780px;
}

.slider--img-container {
    width: 300px;
    height: auto;
    margin-left: auto;
}

.text--label-h1 {
    margin: 0;
    width: 400px;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 10%;
}

.text--label-h1::before {
    content: '';
    position: absolute;
    width: 70px;
    border-bottom: 5px solid var(--secundary-color);
    top: -15px;
}


/*SECCION TEAM  */

.team {
    height: 425px;
    display: flex;
    align-items: center;
    max-width: 1200px;
}


/*GRID  */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
}

.grid--item {
    overflow: hidden;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.grid--text-container {
    color: #fff;
    padding: 2em 6em;
}

a.button-more {
    color: #fff;
    font-size: 14px;
    border: 2px solid;
    padding: .5em;
    border-radius: 5px;
    text-decoration: none;
}

a.button-more:hover {
    text-decoration: underline;
}

.grid--text-container>h2 {
    position: relative;
}

.grid--text-container>h2::before {
    content: '';
    position: absolute;
    width: 35px;
    border-bottom: solid 4px #fff;
    bottom: -10%;
}

.grid--text-container>p {
    width: 182px;
    font-weight: 100;
}

.grid--item:nth-child(1) {
    grid-area: 1 / 1/ 2 / 3;
}

.grid--item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5
}

.grid--item:nth-child(2),
.grid--item:nth-child(4) {
    background: var(--main-color);
}

.grid--item:nth-child(5) {
    background: var(--secundary-color);
}


/*SECCION SERVICIOS  */

.services {
    max-height: 700px;
    padding: 5em 0;
}

.item-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0
}

.services--item {
    width: 400px;
    height: auto;
    margin: 0 2em;
}

.services--item h2 {
    color: var(--main-color);
    line-height: .9em;
    font-size: 2em;
}

.services--item p {
    font-size: 16px;
    color: var(--third-color);
    position: relative;
    padding: 0 5em;
}

.services--item p::before {
    content: '';
    position: absolute;
    border-bottom: 5px solid var(--secundary-color);
    top: -15px;
    width: 40px;
}

.services--item img {
    float: left;
    width: 80px;
}

.item-container:nth-child(2) .services--item:last-child img {
    width: 65px;
    height: 87px;
}

.item-container:nth-child(2) .services--item:last-child p {
    padding: 0 4em;
}

.services--item .container {
    align-items: center;
    display: flex;
}

.services--item .container h2 {
    line-height: .9em;
    font-size: 2em;
    margin: 0;
}


/*SECCION CONTACTO  */

#contact {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.contact {
    height: 700px;
    background-color: #D0D0CE;
}

.contact--container {
    width: 400px;
    height: auto;
    margin-left: 200px;
    padding: 50px 0;
}

.contact--container h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 37.5px;
    position: relative;
}

.contact--container h1::before {
    content: '';
    position: absolute;
    width: 50px;
    border-bottom: 4px solid red;
    top: -10px;
}

#contact .contact--container form input,
#contact .contact--container form textarea {
    width: 97.4%;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    border: 2px solid #747776;
    background: transparent;
    margin-bottom: 25px;
    transition: all .1s ease-in-out;
}

#contact .contact--container form input:focus,
#contact .contact--container form textarea:focus {
    border: 2px solid;
    color: #999;
}

#contact .contact--container form textarea {
    height: 100px;
}

#contact .contact--container form .submit {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bolder;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00588F;
    border: 2px solid #00588F;
    border-radius: 5px;
    background: transparent;
    transition: all .1s ease-in-out;
}

#contact .contact--container form .submit:hover {
    color: var(--main-color);
    cursor: pointer;
}

#contact .contact--container form .required {
    color: #b43838;
}

#contact .image img {
    position: relative;
    right: -150px;
    width: 900px;
}


/*FOOTER  */

footer {
    background: var(--main-color);
    min-height: 150px;
    display: flex;
    align-items: center;
}

.footer--container {
    display: flex;
    align-items: center;
    height: inherit;
    color: #fff;
    font-size: 20px;
}

.footer--image img {
    width: 90px;
    margin-left: 140px;
}

.footer--container span {
    color: #00588F
}


/*MEDIAQUERIES  */

@media (max-width: 768px) {
    .logo {
        width: 130px;
        height: 26px;
    }
    nav ul {
        flex-direction: column;
    }
    .nav a {
        display: none;
    }
    .nav a.icon {
        display: block;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /*SLIDER  */
    .slider {
        height: 700px;
    }
    .slider--container {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider--img-container {
        width: 70%;
    }
    .slider--img-container-two {
        width: 145%;
    }
    .text--label-h1 {
        margin: 0;
    }
    /* TEAM   */
    .team {
        height: 325px;
    }
    /*GRID  */
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
    }
    .grid--item:nth-child(1) {
        grid-area: 1 / 1/ 2 / 2;
    }
    .grid--item:nth-child(2) {
        grid-area: 1 / 2 / 1 / 3;
    }
    .grid--item:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .grid--item:nth-child(6) {
        grid-area: 3 / 1 / 4 / 2;
    }
}